<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <ion-card *ngFor="let t of team">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <img src="{{t.url}}" width="100%" />
              </div>
            </ion-col>
            <ion-col size="8">
              <div>
                <p style="text-align: left">{{t.nom}}</p>
                <p style="text-align: left">Numero : {{t.num}}</p>
                <p style="text-align: left">{{t.bio}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
